ul
{
	list-style: none;
}

.ui-button .ui-button-text
{
	line-height: 0.5;
	width:  100px;
	display: inline-block;
}

.ui-slider
{
	width: 300px;
	height: 7px;
	margin: 7px;
	margin-left: 11px;
	display: inline-block;
	vertical-align: text-bottom;
}

.ui-slider .ui-slider-handle
{
	width: 15px;
	height: 15px;
}

.variableText
{
	width: 150px;
	margin-right: 2px;
	border: 1px solid #a5a5a5;
	display: inline-block;
	vertical-align: text-bottom;
}

.stringText
{
	width: 465px;
	border: 1px solid #a5a5a5;
	display: inline-block;
	vertical-align: text-bottom;
}


.variableButton
{
	display: inline;
	color: #878787;
}

.variableItem
{
	height: 50px;
	vertical-align: text-bottom;
}

.variableTitle
{
	color: #707070;
	text-shadow: 2px 2px 6px #a4a4a4;
	display: inline-block;
	width: 222px;
}

body
{
	background-color: #ececec;
	font-family: "Lucida Grande", Lucida, Verdana, sans-serif;
}

.header
{
	background-color: white;
	padding: 10px;
	text-align: center;
	font-size: 20pt;
	color: #707070;
}

.footer
{
	background-color: white;
	padding: 10px;
	text-align: center;
	font-size: 8pt;
	color: #707070;
}

.footer a
{
	color: #707070;
	text-decoration: none;
	font-weight: bold;
	border-bottom-style: dotted;
	border-bottom-width: 1px;
}

.footer a:hover
{
	color: #000000;
}

.reset
{
  display: inline-block;
  margin-right: 30px;
}

.modified
{
  color: #ca3838;
  text-align: left;
  text-indent: 20px;
  width: 150px;
}

.modified button
{
  visibility: collapse;
}
